:root {
  --yellow: rgba(255, 238, 46, 1);
  --blackblue: rgba(51, 59, 65, 1);
  --green: rgba(75, 146, 0, 1);
  --frostedglasswhite: rgba(253, 253, 255, 0.52);
  --graylight: rgba(241, 243, 242, 1);
  --gray: rgba(118, 116, 116, 1);
  --graysmoky: rgba(171, 171, 171, 1);
  --rad: rgba(211, 20, 20, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --h-1-font-family: "Roboto", Helvetica;
  --h-1-font-weight: 700;
  --h-1-font-size: 114px;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: 80.0000011920929%;
  --h-1-font-style: normal;
  --btn-font-family: "Roboto", Helvetica;
  --btn-font-weight: 500;
  --btn-font-size: 16px;
  --btn-letter-spacing: 0px;
  --btn-line-height: 139.9999976158142%;
  --btn-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --body-font-style: normal;
  --h-2-font-family: "Roboto", Helvetica;
  --h-2-font-weight: 400;
  --h-2-font-size: 48px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: 120.00000476837158%;
  --h-2-font-style: normal;
  --subtitle-font-family: "Roboto", Helvetica;
  --subtitle-font-weight: 400;
  --subtitle-font-size: 24px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 120.00000476837158%;
  --subtitle-font-style: normal;
  --small-paragraph-font-family: "Roboto", Helvetica;
  --small-paragraph-font-weight: 300;
  --small-paragraph-font-size: 15px;
  --small-paragraph-letter-spacing: 0px;
  --small-paragraph-line-height: 120.00000476837158%;
  --small-paragraph-font-style: normal;
  --h-3-font-family: "Roboto", Helvetica;
  --h-3-font-weight: 400;
  --h-3-font-size: 36px;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: 129.99999523162842%;
  --h-3-font-style: normal;
}
